<div class="header collapse d-lg-flex p-0" [ngClass]="{'show': data.isMenuCollapsed}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row ">
                    <li class="nav-item" [routerLink]="['/home']" (click)="data.isMenuCollapsed = false">
                        <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"
                            (click)="data.isMenuCollapsed = false">Dashboard</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/providers']" (click)="data.isMenuCollapsed = false">
                        <a class="nav-link" href="#" [routerLink]="['/providers']" routerLinkActive="active"
                            (click)="data.isMenuCollapsed = false">Proveedores</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/clients']" (click)="data.isMenuCollapsed = false">
                        <a class="nav-link" href="#" [routerLink]="['/clients']" routerLinkActive="active"
                            (click)="data.isMenuCollapsed = false">Clientes</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/services']" (click)="data.isMenuCollapsed = false">
                        <a class="nav-link" href="#" [routerLink]="['/services']" routerLinkActive="active"
                            (click)="data.isMenuCollapsed = false">Servicios</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/categories']" (click)="data.isMenuCollapsed = false">
                        <a class="nav-link" href="#" [routerLink]="['/categories']" routerLinkActive="active"
                            (click)="data.isMenuCollapsed = false">Categorías</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/monitor']" (click)="data.isMenuCollapsed = false">
                        <a class="nav-link" href="#" [routerLink]="['/monitor']" routerLinkActive="active"
                            (click)="data.isMenuCollapsed = false">Monitor</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 ml-auto">
                <ul class="nav nav-tabs float-right border-0 flex-column flex-lg-row ">
                    <li class="nav-item">
                        <a routerLink="/login" routerLinkActive="active" (click)="onLogout()" class="nav-link">
                            <i class="fa fa-sign-out bg-color-5" aria-hidden="true"></i> Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>