<div class="container">

  <div class="row justify-content-center">

    <div class="col">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Gestión de Laboratorios</h1>
                </div>
                <form class="user" (ngSubmit)="onLogin()">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="email" name="email"
                      aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="password" name="password"
                      placeholder="Contraseña" [(ngModel)]="password">
                  </div>
                  <button class="btn btn-primary btn-user btn-block" type="submit">
                    Iniciar sesión
                  </button>
                  <hr>
                  <div class="form-group">
                    <label class="small"> Las credenciales de acceso serán proporcionadas por el administrador</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>