.bg-login-image {
    background: url('https://ak0.picdn.net/shutterstock/videos/23775670/thumb/4.jpg');
    background-position: center;
    background-size: cover;
}
  
form.user {

    .form-control-user {
      font-size: 0.8rem;
      border-radius: 10rem;
      padding: 1.5rem 1rem;
    }
  
    .btn-user {
      font-size: 0.8rem;
      border-radius: 10rem;
      padding: 0.75rem 1rem;
    }
  
}
  