<div class="container">

    <div>
        <div>
            <img class="file-upload-icon" src="assets/img/xls_icon.png" alt="Archivo excel">
            <input #input type="file" name="image" (change)="onFileChange($event)" title="Seleccionar archivo"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />

        </div>
        <button class="upload-btn" color="primary" (click)="onSubmitFile()" *ngIf="!loading">Subir
            archivo</button>
    </div>

</div>